/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/*
#flot-graph {
	 height: 200px;
}
*/

body {}

.label {
	text-transform: uppercase;
	color: black;
}

#header {
	background-color: white;
	padding: 15px 0px 0px 15px;
}

.container {
	margin-top: 20px;
}

#map-container-parent {
	position: relative;
}

#map-container-row {
	background-color: white;
	padding: 0px 15px 0px 0px;
	left: -7px;
	position: relative;
}

#map-container {
	background-color: white;
	height: 750px;
}

#map-info-box-row {
	position: absolute;
	top: 46px;
}

#map-info-box {
	opacity: 0.7;
	filter: Alpha(opacity=70);
	background-color: white;
	-moz-box-shadow: inset 0 0 4px 4px #aba3ab;
	-webkit-box-shadow: inset 0 0 4px 4px #aba3ab;
	box-shadow: inset 0 0 4px 4px #aba3ab;
}

#map-info-content {
	width: 270px;
	padding: 15px;
}

.info-box {
	height: 400px;
	width: 300px;
/* 	border: 2px solid white; */
	position: absolute;
	right: 20px;
	top: 20px;
}

/* -----------------------------------------
   Infobox
----------------------------------------- */

#nbh-label {
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	border-bottom: 1px solid #eaeaea;
}

#nbh-name {
	font-family: Georgia, serif;
	font-size: 20px;
	padding-top: 5px;
	line-height: 22px;
	height: 95px;
}