/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/*
#flot-graph {
	 height: 200px;
}
*/

body {
	background-color: #acc58b;
}

#header {
	background-color: white;
	padding: 15px 0px 0px 15px;
}

.container {
	margin-top: 20px;
}

#map-container-parent {
	position: relative;
}

#map-container-row {
	background-color: white;
	padding: 0px 15px 0px 0px;
	left: -7px;
	position: relative;
}

#map-container {
	background-color: white;
	border: 1px solid black;
	height: 650px;
}

#map-info-box-row {
	position: absolute;
	top: 46px;
}

#map-info-box {
	height: 400px;
	width: 300px;
	background-color: #ccc;
	opacity: 0.6;
	filter: Alpha(opacity=60);
	border: 2px solid white;
	position: absolute;
	right: 20px;
	top: 20px;
}