/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 10px 0px;
}
ul {
  padding: 0;
  margin: 0;
}
.clear {
  display: block;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
#container {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0px auto;
}
#primary {
  position: relative;
  width: 100%;
  height: 750px;
}
/* -----------------------------------------
   Sidebar of information
----------------------------------------- */
#info {
  z-index: 1000;
  background: white;
  padding: 15px;
  margin: 0 15px 0 0;
  float: left;
  width: 220px;
  height: 100%;
  overflow: hidden;
}
#banner p {
  font-family: Georgia, serif;
}
#title {
  margin-left: 15px;
  font-size: 2.5em;
  line-height: 1em;
}
/* -----------------------------------------
   Option dropdown
----------------------------------------- */
#indicators {
  position: relative;
}
#indicators .selected {
  margin: 10px auto;
}
#indicators > ul {
  list-style-type: none;
  margin: 10px auto;
  width: 100%;
  display: none;
}
#indicators > ul > li {
  cursor: pointer;
  text-align: center;
  background-color: white;
  border: 1px solid #eee;
  padding: 10px 15px;
}
#indicators li:hover {
  color: #f77833;
}
#indicators .arrow {
  position: absolute;
  top: 0;
}
#indicators .arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ccc;
  right: 0;
}
#indicators .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ccc;
  left: 0;
}
/* -----------------------------------------
   Map portions
----------------------------------------- */
#map-container-parent {
  float: left;
  width: 690px;
  height: 100%;
}
/* -----------------------------------------
   Infobox Elements
----------------------------------------- */
#nbh-label,
#school-perf {
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
}
#school-perf {
  display: none;
}
#nbh-name {
  font-family: Georgia, serif;
  font-size: 20px;
  padding-top: 5px;
  line-height: 22px;
  height: 95px;
}
#race-pie-chart {
  padding: 5px 0px;
  height: 140px;
}
.indicator-floats {
  font-family: Arial, sans-serif;
  font-size: 12px;
  position: relative;
  float: left;
  width: 140px;
}
#school-perf-chart {
  padding: 5px 0px;
}
/* -----------------------------------------
   Tooltip Elements
----------------------------------------- */
#school-tooltip {
  min-width: 100px;
  background-color: white;
  border: 1px solid #888;
  position: absolute;
  top: 0px;
  left: 100px;
  display: none;
  padding: 5px 14px 5px 8px;
}
